{% extends "base.html" %}

{% block title %}Lista de Pedidos - Gestor de Medicamentos{% endblock %}

{% block content %}
<h2>Listado de Pedidos</h2>

<div class="mb-3">
    <a href="{{ url_for('crear_pedido_form') }}" class="btn btn-success">Crear Nuevo Pedido</a>
</div>

{% if pedidos_info %}
    <table>
        <thead>
            <tr>
                <th scope="col">ID Pedido</th>
                <th scope="col">Fecha Pedido</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Estado</th>
                <th scope="col">Costo Total Estimado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p_info in pedidos_info %}
            <tr>
                <td data-label="ID Pedido">{{ p_info.pedido.id }}</td>
                <td data-label="Fecha Pedido">{{ p_info.pedido.fecha_pedido.strftime('%d/%m/%Y') }}</td>
                <td data-label="Proveedor">{{ p_info.pedido.proveedor if p_info.pedido.proveedor else 'N/A' }}</td>
                <td data-label="Estado">{{ p_info.pedido.estado.value if p_info.pedido.estado else 'N/A' }}</td>
                <td data-label="Costo Total" class="text-right">{{ "%.2f €"|format(p_info.costo_total) if p_info.costo_total is not none else 'N/A' }}</td>
                <td data-label="Acciones">
                    <a href="{{ url_for('detalle_pedido_ruta', pedido_id=p_info.pedido.id) }}" class="btn btn-sm btn-info">Ver</a>
                    <a href="{{ url_for('editar_pedido_form', pedido_id=p_info.pedido.id) }}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{{ url_for('eliminar_pedido_confirm_form', pedido_id=p_info.pedido.id) }}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">No hay pedidos registrados.</div>
{% endif %}

{% endblock %}
