{% extends "base.html" %}

{% block title %}Lista de Medicamentos - Gestor de Medicamentos{% endblock %}

{% block content %}
<h2>Listado de Medicamentos</h2>

{% if medicamentos_info %} {# <--- Cambio aquí: de 'medicamentos' a 'medicamentos_info' #}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Unidades/Caja</th>
                <th>Stock Total (Unidades Activas)</th>
                <th>Precio/Unidad Ref.</th>
                <th>Consumo Diario (Uds)</th>
                <th>Vencimiento Próximo (Lote)</th>
                <th>Vencimiento Receta</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for med_info in medicamentos_info %}
            <tr {% if not med_info.medicamento.esta_activo %}style="background-color: #f9f9f9; color: #777;"{% endif %}>
                <td>{{ med_info.medicamento.id }}</td>
                <td>{{ med_info.medicamento.nombre }}</td>
                <td>{{ med_info.medicamento.marca if med_info.medicamento.marca else 'N/A' }}</td>
                <td>{{ med_info.medicamento.unidades_por_caja }}</td>
                <td>{{ med_info.stock_total }}</td>
                <td class="text-right">
                    {% if med_info.precio_por_unidad is not none %}
                        {{ "%.2f €" | format(med_info.precio_por_unidad) }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td class="text-center">{{ med_info.medicamento.consumo_diario_unidades if med_info.medicamento.consumo_diario_unidades is not none else '-' }}</td>
                <td>{{ med_info.vencimiento_proximo.strftime('%d/%m/%Y') if med_info.vencimiento_proximo else 'N/A' }}</td>
                <td>{{ med_info.medicamento.vencimiento_receta.strftime('%d/%m/%Y') if med_info.medicamento.vencimiento_receta else '-' }}</td>
                <td>{% if med_info.medicamento.esta_activo %}Activo{% else %}En Desuso{% endif %}</td>
                <td>
                    <a href="{{ url_for('detalle_medicamento', medicamento_id=med_info.medicamento.id) }}">Ver Detalles</a> |
                    <a href="{{ url_for('editar_medicamento_form', medicamento_id=med_info.medicamento.id) }}">Editar</a> |
                    <a href="{{ url_for('eliminar_medicamento_confirm_form', medicamento_id=med_info.medicamento.id) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay medicamentos registrados en la base de datos.</p>
{% endif %}

<p style="margin-top: 20px;">
    <a href="{{ url_for('crear_medicamento_form') }}" style="background-color: #5cb85c; color: white; padding: 10px 15px; text-decoration: none; border-radius: 4px;">Añadir Nuevo Medicamento</a>
</p>
{% endblock %}
